/target
/classes
/checkouts
deploy.sh
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/public/js
/public/css/site.min.css
/out
/.repl
*.log
/.env
.idea
*.iml
/env/prod/cljs/myproject