/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

body {
  padding-top: 50px;
}

.template {
  padding: 40px 15px;
  text-align: center;
}

a {
  cursor:pointer;
}

.card-name-input {
  margin-right: 1em;
}

.logo {
  width: 100%;
  max-width: 400px;
}

.row-stripe {
  padding: 0.6em;
  border-top: 1px solid #cccccc;
}

.row-stripe:nth-of-type(odd){
  background-color: #efefef;
}

.row-stripe:nth-of-type(even){
  background-color: #ffffff;
}

.col-label {
  margin-bottom: 1em;
  font-weight: bold;
}

.col-name {
  padding-left: 1.6em;
}

.card {
  width: 100%;
  max-width: 226px;
}

.no-title {
  padding-top: 30px;
}

.mana-icon {
  position: relative;
  bottom: 1px;
  margin-left: 4px;
}

.search-form-section {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.table-striped > tr:nth-child(odd) {
  background-color: #efefef;
}

.list-data {
  padding:3px;
  text-align: left;
}

.note {
  margin-bottom: 2em;
}

.set-name {
  font-size: 0.8em;
}

.card-type {
  margin-bottom: 2em;
}

.card-data {
  text-align: left;
}

.card-image {
  margin-bottom: 2em;
}

.back-link {
  margin-top: 2em;
}

.about-section {
  padding-bottom: 30px;
}

.link-icon-section {
  margin-top: 5px;
}

.work-title {
  text-decoration: underline;
}

.credit-item {
  font-size: 1.2em;
}

.link-icon {
  font-size: 1.5em !important;
}

/* For medium screen */
@media (max-width: 767px) {
  .row-striped {
    padding: 0.5em;
  }

  .card-name {
    margin-bottom: 0.5em;
  }

  .set-type {
    margin-left: 0.5em;
  }

  .do-search {
    width: 100%;
    margin-top: 0.5em;
  }
}